.whatsapp {
    width: 40px;
    margin-right: 20px;
    /* position:sticky; */
    /* left: 85%; */
   margin-top: 5px;
  }

  @media screen and (max-width: 425px) {
    .whatsapp {
    width: 30px;
    } 
  }